<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470667278939-tlcq11lo1f03c5p4lh1k20110096lfsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470667278939-tlcq11lo1f03c5p4lh1k20110096lfsl</string>
	<key>API_KEY</key>
	<string>AIzaSyDkNMQlA0KgCqjOgr59kFqolr-MwXenFGk</string>
	<key>GCM_SENDER_ID</key>
	<string>470667278939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.austinxu.avents</string>
	<key>PROJECT_ID</key>
	<string>auevents-6935e</string>
	<key>STORAGE_BUCKET</key>
	<string>auevents-6935e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:470667278939:ios:16920c28c6963f21385d7e</string>
</dict>
</plist>
